MONGO_URI=<your-mongodb-connection-string>
AUTH_SECRET=<your-auth-secret>
PAYMENT_ENCRYPTION_KEY=<your-payment-encryption-key>
SENDGRID_API_KEY=<your-sendgrid-api-key>
EMAIL_FROM=<verified-sender@example.com>
EMAIL_FROM_NAME="Cinema E-Booking"
NEXT_PUBLIC_BASE_URL=http://localhost:3001
